.page {
  text-align: center;
}

.header {
  padding: 10px;
  height: 19vh;
  font-size: 36px;
  font-family: sans-serif;
}

.field {
  margin-right: auto;
  margin-left: auto;
  display: grid;
  height: 79vh;
  aspect-ratio: 1/1;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  position: relative;
}

.scoreWrapper {
  position: absolute;
  right: 10px;
  top: -26px;
}

.card {
  height: 100%;
}

.card img {
  width: 100%;
  border-radius: 15%;
}

.cardContent {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  transform-style: preserve-3d;
}

.card.chosen .cardContent {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cardFront {
  background-color: #ffb11f;
  border-radius: 15%;
}

.cardBack {
  border-radius: 15%;
  transform: rotateY(180deg);
}

@media (orientation: portrait) {
  .header {
    margin-bottom: 30px;
  }
  .field {
    height: auto;
    width: 80vw;
  }
}
